body{
    background-color: rgb(10, 10, 10) ;
}

ul {
  list-style-type: none; 
  padding: 0;            
  margin: 0;            
}

.card-login{
    min-width: 400px;
    max-width: 500px;
    background: rgba(24, 24, 24, 0.562);
    border: 1px solid rgb(29, 29, 29);
    border-radius: 22px;
    padding: 25px;
}


.form-control{
    background: rgb(0, 0, 0);
    border: 1px solid rgb(29, 29, 29);
    color: white;
}

.form-control::placeholder{
    color: #ffffff;
}

.form-control:focus{
    background-color: rgb(10, 10, 10);
    color: white;
}

.btn {
    border-radius: 5px;
}

.input-registro::placeholder {
    color: rgb(77, 77, 77);
}

.toDo-card {
    min-width: 400px;
    max-width: 500px;
    background: rgba(24, 24, 24, 0.562);
    border: 1px solid rgb(29, 29, 29);
    border-radius: 22px;
    padding: 25px;
}


.task-card{
    background: rgb(32, 32, 32);
    min-width: 100%;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.task-text {
    word-break: break-word;
    max-width: 70%;          
}

.done {
    background-color: rgb(0, 87, 26);
    text-decoration: line-through;
}

/* Remove cor do autofill (Chrome) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px rgb(0, 0, 0) inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white;
}